.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: var(--border-radius);
}

.page-item {
  display: inline;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.page-item:last-child .page-link {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ccc;
}

.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: var(--primary-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page-link:focus,
.page-link:hover {
  color: var(--primary-color);
  background-color: tomato;
  border-color: #ccc;
}
