.character {
  display: grid;
}

.character__name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;  
}

.character__info {
  display: flex;
  gap: 2rem;
  align-items: start;
}

.character__image {
  max-width: 360px;
  border-radius: 0.25rem;
}
