.form__wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  padding-top: 3rem;
}

.form__label-wrapper {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: baseline;
}

.form__error {
  padding: 0.2rem 1rem;
  font-size: x-small;
  background-color: rgb(236, 255, 126);
  border-radius: 0.5rem;
}

.form__label {
  font-weight: 600;
}

.form__field {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  width: calc(100% - 2rem);
}

.form__input_error {
  border: solid 2px red;
}

.form__error-indicator {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  padding-right: 0.3rem;
  background-color: rgb(121, 179, 35);
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

.form__error-indicator_on {
  background-color: rgb(255, 91, 91);
}

.form__error-message {
  width: calc(100% - 2rem);
  border: 2px solid rgb(255, 91, 91);
  background-color: #ff000042;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.form__button {
  cursor: pointer;
  width: calc(100% - 2rem);
}
