@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');
@import url('reset.css');

:root {
  --primary-color: #292e45;
  --secondary-color: #f3f4f7;
  --border-radius: 0.5rem;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

#root {
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100dvh;
}

.section {
  flex: 1;
}

.section__inner {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: normal;
}

input,
select {
  display: inline-block;
  height: 2.75rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: var(--border-radius);
  border: 1px solid #bdbdbd;
}

button:focus,
select:focus,
input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
