.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav__list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav__link {
  color: var(--primary-color);
  font-family: sans-serif;
  text-decoration: none;
  transition: color 0.3s linear;
}

.nav__link:hover {
  color: #f85a40;
}
