.footer__up {
  height: 3em;
}

.footer__down {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2em;
  overflow: hidden;
  background-color: var(--primary-color);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  z-index: 999;
}
.footer__down:hover {
  height: 5em;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__title {
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
}

.footer__descr {
  color: var(--secondary-color);
}
